@import url("http://fonts.cdnfonts.com/css/duhai");

body {
  height: auto;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  font-family: "Duhai", sans-serif;
}

section {
  align-items: center;
  margin: 50px 200px;
  padding: 30px 20px;
  background-color: white;
  border-radius: 20px;
}

button {
  transition: 0.5s;
  border: 1px solid black;
  color: black;
  background-color: white;
}

button:hover {
  cursor: pointer;
  background-color: #7554c0;
}

button a {
  text-decoration: none;
  color: inherit;
}
